---
import Order from "./order.astro";
import CollapseOptions from "./collapse-options.astro";
import PlanForm from "./plan-form.astro";
---
<section class="collapse-section">
  <div class="content-collapse">
    <CollapseOptions />
    <PlanForm />
  </div>
  <Order />
  <button class="btn primary" id="btn">Create my plan!</button>
  <span id="message-error">You need complete your order, to generate a order. Please complete your order.</span>
</section>

<style>
    span {
      align-self: center;
      color: red;
      margin-block-start: 1rem;
      text-align: center;
      display: none;
      
      @media (min-width: 480px) {
        align-self: flex-end;
        text-align: start;
      }
    }
  .collapse-section {
    margin-bottom: 86px;
    display: flex;
    flex-direction: column;
  }
  
  .content-collapse {
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      inline-size: 100%;
    }
  }


</style>
