<section>
  <div>
    <h1>Create a plan</h1>
    <p>Build a subscription plan that best fits your needs. We offer an assortment of the best artisan coffees from around the globe delivered fresh to your door.</p>
  </div>
</section>

<style>
  section {
    position: relative;
    color: var(--ligth-cream);
    padding-block: 100px 136px;
    padding-inline: 1.5rem;
    background-size: cover;
    background-image: url("/images/plan/plan-hero-blackcup-mobile.webp");
    border-radius: 10px;
    text-align: center;
    
    @media (min-width: 768px) {
      padding-block: 127px;
      padding-inline: 58px;
      text-align: start;
      background-image: url("/images/plan/plan-hero-blackcup-tablet.webp");
    }

    @media (min-width: 1024px) {
      padding-block: 134px;
      padding-inline: 85px 0;
      background-image: url("/images/plan/plan-hero-blackcup-desktop.webp");
    }

    &:before {
      position: absolute;
      border-radius: 10px;
      opacity: .3;
      inset: 0;
      content: '';
      inline-size: 100%;
      background-color:  #000;
    }
  }
  
  div {
    max-inline-size: 400px;
    margin: 0 auto;
    
    @media (min-width: 768px) {
      max-inline-size: 500px;
      margin: 0;
    }
  }

  h1, p {
    position: relative;
    z-index: 10;
  }
  
  h1 {
    font-size: clamp(2.5rem, 0.1563rem + 7.5vw, 4.375rem);
  }
  
  p {
    color: #fefcf7;
    margin-top: 22px;
  }
</style>
