---
interface Props {
  name: string;
  icon: string;
  items: string[];
}

const { name, items, icon } = Astro.props
---

<div class="country__card">
  <i class:list={[icon]}></i>
  <h4>{name}</h4>
  <ul class="country__card-list">
    {
      items.map(item => (
        <li>{item}</li>
      ))
    }
  </ul>
</div>

<style>
  .country__card {
    max-inline-size: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 768px) {
      align-items: start;
    }
  }
  
  i {
    font-size: 3rem;
    color: var(--dark-cyan)
  }
  
  h4 {
    margin-block: 48px 1.5rem;
    font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
  }
  
  .country__card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    @media (min-width: 768px) {
        align-items: start;
    }
  }
  
</style>
