---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<p>Hello world</p>
		<h1>Hello world</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est fugiat in incidunt laborum libero nemo numquam obcaecati perferendis, quibusdam quidem quos ratione repellat totam velit? Accusamus est fuga neque!
		</p>
	</main>
</Layout>

<style>
</style>
