---
import Layout from "../layouts/Layout.astro";
import Wizard from "../components/plan/wizard.astro";
import PlanHero from "../components/plan/plan-hero.astro";
import CratePlanSection from '@components/plan/create-plan-section.astro';
import ModalOrder from '@components/plan/order-modal.astro';
---

<Layout
  title="Coffeeroasters | Create your plan ❤️"
  description="Great coffee made simple."
  demo="https://cofferoasters-v1.netlify.app/"
  twDemo="cofferoasters-v1.netlify.app/"
  screenshot="https://github.com/AlecANL/cofferoasters/blob/main/public/screenshot/plan.png?raw=true"
>
  <main>
    <PlanHero/>
    <Wizard />
    <CratePlanSection />
  </main>
  <ModalOrder />
</Layout>
<style>

</style>
<script>
  import { Plan } from "../core/app";
  import { $, $$ } from "../utils/utils";
  const plan = new Plan();
  
  const $radioInputs = $$('input[type="radio"]');
  const $button = $('#btn');
  const $btnCheckout = $('#checkout');
  const $grindDetailCollapse = $('#grind') as HTMLDetailsElement;
  const $collapseOptionsList = $('.collapse-options-list');
  
  $collapseOptionsList.addEventListener('click', (e) => {
    plan.handleOpenCollapseByOption(e)
  })
  
  
  $grindDetailCollapse.addEventListener('toggle', (e) => {
    plan.handleBlockGrindCollapseInDisabledState(e)
  })
  
  document.addEventListener('keydown', ({ key }) => {
    if (key !== 'Escape') return;
    plan.closeModal()
  })
  
  $radioInputs.forEach(($input) => {
    $input.addEventListener('change', (e) => {
      const target = e.target as HTMLInputElement;
      const { name, value } = target;
      plan.handleSetFormValues(name, value);
    })
  })
  
  $button.addEventListener('click', () => {
    plan.showOrderInModal()
  })
  
  
  $btnCheckout.addEventListener('click', () => {
    plan.closeModal()
    plan.resetForm()
  })
</script>
