---
import type { Item } from "../../models/index.interface";
interface Props {
  idx: number;
  item: Item;
  variant?: string;
}

const { idx, item, variant }: Props = Astro.props;
const parseId = (idx + 1).toString().padStart(2, "0");
---

<div class:list={[`variant-${variant}`]}>
    <span> {parseId} </span>
    <h3 class="wizard__Card-title"> {item.title} </h3>
    <p class="wizard__Card-txt"> {item.description} </p>
</div>

<style>
  div {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  span {
    font-size: 72px;
    font-family: var(--frauncesFont);
    color: var(--pale-orange);
  }
  
  p {
    margin-top: 1.5rem;
  }
  
  h3 {
    font-size: 32px;
    flex: 1;
  }
  
  @media (min-width: 480px) {
    div {
      text-align: start;
    }
  }
  
  .variant-alternative {
    .wizard__Card-title, .wizard__Card-txt {
      color: var(--ligth-cream);
    }
  }
</style>
