---
import Menu from "@components/shared/menu.astro";
import Logo from "@components/shared/logo.astro";
import '@assets/styles/icons.css';
import '@assets/styles/font.css';
import Footer from "../components/shared/footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<div class="body-wrapper">
		<header class="header">
			<Logo/>
			<Menu/>
			<div class=menu-icon>
				<span class="line"></span>
			</div>
		</header>
		<slot />
		<Footer/>
	</div>
	</body>
</html>
<style is:global>
	:root {
		--barlowFont: 'Barlow';
		--frauncesFont: 'Fraunces';
		--bg-body: hsla(45, 80%, 98%, 1.00);
		--dark-grey-blue: hsla(211, 19%, 21%, 1.00);
		--dark-cyan: hsla(178, 37%, 38%, 1.00);
		--pale-orange: hsla(27, 78%, 86%, 1.00);
		--grey: hsla(216, 4%, 54%, 1.00);
		--ligth-cream: hsla(40, 75%, 98%, 1.00);
		--just-white: #fff;
		--text-color: hsla(217, 17%, 25%, 1.00);
		--max-width: 1280px;
		--body-padding: 1.5rem;
		--menu-item-color: #83888F;
	}
	*, *::before, *::after {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		font-family: var(--barlowFont);
		background-color: var(--bg-body);
		color: var(--text-color);
	}

	a {
		text-decoration: none;
		font-family: inherit;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6, button {
		margin: 0;
		padding: 0;
		font-family: var(--frauncesFont);
	}
	
	p {
		margin: 0;
	}

	.body-wrapper {
			max-inline-size: var(--max-width);
			padding-inline: var(--body-padding);
			margin-inline: auto;
		margin-block: 0 72px;
	}

	.header, .footer-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
	}
	

	
	.header {
		padding-block: 1.5rem;
		
		@media (min-width: 480px) {
			justify-content: space-between;
		}
	}
	
	.menu-icon {
		position: relative;
		inline-size: 1.5rem;
		block-size: 1rem;
		
		@media (min-width: 480px) {
			display: none;
		}
	}
	
	.menu-icon.open {
		.line {
			background: transparent;
		}
		
		.line:after {
			transform: translateY(-50%) rotate(-45deg);
		}
		
		.line:before {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
	}
	
	.line {
		display: block;
		inline-size: 100%;
		block-size: 2px;
		background: blue;
		transition: background .4s ease-in-out;
		@media (min-width: 480px) {
			display: none;
		}
	}
	
	.line:after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		display: block;
		inline-size: 100%;
		block-size: 2px;
		background: green;
		transition: transform .3s ease-in-out;
	}
	
	.line:before {
		position: absolute;
		top: 100%;
		transform: translateY(-50%);
		content: '';
		display: block;
		inline-size: 100%;
		block-size: 2px;
		background: blue;
		transition: transform .3s ease-in-out;
	}



	.header {
		.menu {
			position: fixed;
			top: 80px;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-block: 40px;
			text-align: center;
			transform: translateX(100%);
			background: linear-gradient(180deg, rgba(254, 252, 247) 20%, #fefcf7f0 60.94%);
			transition: transform .3s ease-in-out;
			
			@media (min-width: 480px) {
				padding-block: 0;
				position: static;
				transform: translateX(0);
			}
		}
		
		
		.menu.menu--open {
			transform: translateX(0);
		}
		

	}



</style>

<script>
	const menuIcon = document.querySelector('.menu-icon');
	const menu = document.querySelector('.menu');

	menuIcon.addEventListener('click', () => {
		menu.classList.toggle('menu--open');
		menuIcon.classList.toggle('open');
	});
</script>
